* {
    margin: 0px;
    padding: 0px;
}

:root {
    --navbar-height: 60px;
}

body {
    overflow-x: hidden;
}

.header {
    background-color: #DDD0C8;
    height: 70px;
    width: 100vw;
    padding: 1px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 999;
    border-bottom: 2px solid black;
}

/* left section */
.container {
    top: 2px;
    display: flex;
}

.navbar {
    margin: 0px auto;
}

.logo img {
    height: 70px;
    width: 200px;
    mix-blend-mode: darken;
}

/* mid section */
/* .mid {
    display: flex;
    justify-content: end;
    width: 100%;
    margin: 33px auto;
} */

.nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.navbar {
    display: flex;
    justify-content: end;
    width: 100%;
    margin: 33px auto;
}

.navbar li {
    display: inline-block;
    list-style: none;
    font-size: 1.2rem;
}

.navbar li a {
    color: #323232;
    display: block;
    padding: 3px 35px;
    text-decoration: none;
}

.navbar ul li a:hover,
.navbar ul li.active a {
    color: blue;
    transform: scale(1.2);
    transition: 0.7s ease;
}

/*************** Infomarton Section ***************/

#home {
    border-top: 1px solid black;
    background-color: #c6e2e4dd;
    width: 100vw;
}

.info {
    height: 725px;
    display: flex;
    margin: 4rem 6rem 0rem 6rem;
}

.name {
    width: 60%;
    margin-top: 6rem;
}

.p1 {
    font-weight: 800;
    font-size: 50px;
    color: cornflowerblue;
}

.p2 {
    font-size: 40px;
}

.p2 i {
    color: #323232;
    font-weight: 700;
}

.profile {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile img {
    height: 30rem;
    width: 27rem;
    border-radius: 50%;
    margin-left: 6rem;
}

.download_btn {
    background-color: dodgerblue;
    color: #1A1110;
    /* margin-top: 20px; */
    padding: 0.5rem;
    /* font-size: 2rem; */
    text-decoration: none;
    border-radius: 5px;
}

.about_me {
    margin-top: 20px;
}

.about_me p {
    text-align: justify;
}

.common_header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/**************** Skills Section ****************/
#skill {
    border-top: 1px solid black;
    background-color: #cab5d0;

}

.skill_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 6rem;
}

.skill_box {
    padding: 1rem;
    cursor: pointer;
    height: 350px;
    width: 250px;
    border: 2px solid black;
    border-radius: 5%;
    margin: 20px;
}

.skill_box:hover {
    box-shadow: 0 0 5px #1A1110, 0 0 10px #1A1110, 0 0 15px #1A1110;
    cursor: pointer;
}

.skill_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.skill_img {
    height: 80px;
    width: 80px;
    position: relative;
    border-radius: 45px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill_icon {
    width: 55px;
    height: 55px;
}

.skill_title h3 {
    margin-top: 10px;
}

.skill_box p {
    text-align: justify;
}


/******************     Education Section       ******************/

#education {
    background-color: #C0C0C0;
    border-top: 1px solid black;
    height: 675px;
}

.edu_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    flex-wrap: wrap;
    margin: 0px 15rem;
}

.edu_box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.25px solid black;
    margin: 20px;
    border-radius: 10px;
}

.edu_box i {
    margin-left: 15px;
}

.edu_info {
    width: 27rem;
    margin: 10px 0px 10px 10px;
}

.pass_year {
    font-size: smaller;
}

.edu_center {
    font-size: larger;
}

/****************** Contact Section ****************/

#contact {
    border-top: 1px solid black;
    height: 350px;
    background-color: #d0b5bf;
}

.contact_container {
    margin: 0px 15rem;
}

.contact_link {
    display: flex;
    font-size: 1.5rem;
}

.link_icon {
    display: flex;
    margin-right: 20px;
}

.link_icon a {
    display: flex;
    text-decoration: none;
    color: black;
}

.link_icon a i:hover {
    transform: scale(1.25);
}

.contact_detail {
    font-size: 1.5rem;
}

.contact_detail .link_icon {
    margin-top: 10px;
}

.contact_detail p {
    font-size: 1.25rem;
    margin-left: 10px;
}



/******************Form section ************************/
.form_container {
    margin: 0px 15rem;
    display: flex;
    justify-content: center;
}

.form-wrapper {
    margin: 15px;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    width: 50%;
    border: 2px solid gray;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 77%;
}

#form_item {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 85%;
}

input[type=text],
input[type=email],
textarea {
    margin: 5px 15px;
    height: 22px;
    width: 95%;
    font-size: 13px;
    border: 1px black solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background-color: #c7bbbf;
}

textarea {
    height: 150px;

}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 15px 45px;
    background: #1e90ff;
    font-size: 15px;
    padding: 7px 20px;
    border-radius: 5px;
    color: #fbfbfb;
    border: 0;
    cursor: pointer;
}

/* Footer */
footer {
    background: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 1rem;
}

/****************************************Response******************************************************/
@media (max-width: 450px) {
    .header,#home,
    #skill,
    #education,
    #contact {
        width: 151vw;
    }

    footer {
        width: 140vw;
    }

    .nav_menu {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1px;
    }

    .logo img {
        height: 40px;
        width: 80px;
    }

    .p1 {
        font-size: 28px;
    }

    .p2 {
        font-size: 25px;
    }

    .profile img {
        height: 12rem;
        width: 10rem;
        margin-left: 0;
    }

    .info {
        height: 425px;
        display: flex;
        margin: 0rem 0rem 0rem 2rem;
    }

    .contact_container {
        height: 2rem;
        width: 2rem;
        margin: 0px 5rem;
    }

    .contact_link {
        width: 100vw;
    }

}

@media (min-width: 450px) and (max-width: 767px) {

    .header,#home,
    #skill,
    #education,
    #contact {
        width: 141vw;
    }

    footer {
        width: 130vw;
    }

    .logo img {
        height: 50px;
        width: 100px;
    }

    .nav_menu {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1px;
    }

    .info {
        margin: 0rem 0rem 0rem 2rem;
        height: 500px;
    }

    .profile img {
        height: 15rem;
        width: 12rem;
        margin-left: 0;
    }

    .p1 {
        font-size: 32px;
    }

    .p2 {
        font-size: 25px;
    }

    .skill_box {
        height: 20rem;
        width: 15rem;
    }

    .contact_container {
        height: 2rem;
        width: 2rem;
        margin: 0px 5rem;
    }

    .contact_link {
        width: 100vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .header,#home,
    #skill,
    #education,
    #contact {
        width: 122vw;
    }

    footer {
        width: 116.85vw;
    }

    .info {
        margin: 4rem 1rem 0rem 6rem;
        height: 600px;
    }

    .p1 {
        font-size: 36px;
    }

    .profile img {
        height: 25rem;
        width: 21rem;
    }
}